html, body {
  width: 100%;
  min-height: 100vh;
}

/* Typography */

.link {
  text-decoration: none
}

/* Sizing */
.responsive-image {
  width: 100%;
  height: auto
}

@media only screen and (max-width: 480px) {
  .responsive-portrait {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .responsive-portrait {
    width: 100%;
    height: 130px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .responsive-portrait {
    width: 100%;
    height: 150px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  .responsive-portrait {
    width: 100%;
    height: 170px;
  }
}

@media only screen and (min-width: 1281px) {
  .responsive-portrait {
    width: 100%;
    height: 190px;
  }
}

.margin-0 {
  margin: 0
}

.icon-64px {
  width: 64px;
  height: 64px
}

.max-width {
  width: 100%
}

.min-height {
  min-height: 100vh
}

.max-height {
  height: 100%
}

/* colors */
.color-red {
  color: #ff5c5c
}

.bg-color-red {
  background-color: #ff5c5c
}

.bg-color-light-red {
  background-color: #fff0f0
}

.bg-color-black {
  background-color: black
}

/* Positioning */

.position-fixed {
  position: fixed
}

.text-center {
  text-align: center
}

.align-items-center {
  align-items: center
}

.direction-column {
  flex-direction: column
}

.justify-space-around {
  justify-content: space-around
}

.display-flex {
  display: flex
}

.flex {
  flex: 1 0 auto;
}

.justify-center {
  justify-content: center
}

.justify-flex-end {
  justify-content: flex-end
}

.margin-right-auto {
  margin-right: auto
}

.margin-top {
  margin-top: 150px
}

/* Custom  */

.footer {
  background-color: black;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

.main {
  background-color: #fff0f0;
  height: 100%
}